# AI Keys
GOOGLE_GENAI_USE_VERTEXAI=FALSE
GOOGLE_API_KEY=xxx
OPENAI_API_KEY=xxx
ANTHROPIC_API_KEY=xxx

# This POC uses the gsuite MCP server to send emails. In production, it suggested to use
# SendGrid or some other 3rd party service, but since most people have a gmail account already
# this requires less hassle. 

# However, you will need to download and install the mcp server from here:
# https://github.com/rishipradeep-think41/gsuite-mcp 
# and follow the instructions for configuring your google account to support using it.

# The files credentials.json and token.json must be in the MCP_GSUITE_PATH folder for the code
# to work.

# NOTE: The Refresh Token expires every 7 days, so the code checks to make sure it is not expired
# before attempting to use it.  

# For the gsuite workspace
MCP_GSUITE_PATH = '/path/to/gsuite-mcp/'
MCP_GSUITE_RUN_FILE = 'build/index.js'

# Logging
LOG_LEVEL=DEBUG

# For SMS Server
SMS_KEY=xxx
SMS_URL=https://textbelt.com/text